body{
    background:#fdca40;
}

.navbar{ display:flex;font-family: sans-serif;align-items: center;color: black;text-transform: capitalize;height: 60px;color:#fefae0 ;background:#ffb703;

}
.nav1{font-size: 20px;margin-left: 20px}
.nav2{
    margin-left: 27%
}
.nav3{margin-left: 40px}
.nav4{margin-left: 40px}
.nav5{margin-left: 40px}
.nav6{margin-left: 40px}
#icons{margin-left: 250px}
.cart{
    width: 70px;height: 30px;margin-left: 40px;justify-content: center;display: flex;align-items: center;border-radius: 20px;background: orange;}
.content{display: grid;grid-template-columns:300px 200px}
.image1{
    border: 1px solid black;border-radius: 20px;width: 400px;height: 400px;background-image: url(./bila.webp);background-size: cover;box-shadow: 10px 10px 100px #e0fbfc;
    margin-top: 122px;
   ;transform: skew(5deg , 10deg);grid-column: 2;grid-row: 1;margin-left: 450px;
}
h1{font-size:60px;width: 370px;text-transform: uppercase;color:black;font-weight: bolder;text-shadow: 10px 10px 20px #e0fbfc;margin-top: 100px}
.fashion{
    width: 200px;height: 200px;border: 1px solid black;border-radius: 20px;    margin-left: -100px;
    margin-top: -55px;background: #ffd289;display: flex ;justify-content: center;align-items: center;text-transform: capitalize;box-shadow: 1px 1px 20px #ecc30b;background-image: url(./aiza.jpg);background-size: cover;transform: skew(-20deg)
}
h2{text-transform: capitalize;font-size: 30px;font-weight: 400;text-shadow: 10px 10px 10px #bfd200}

.div2{
grid-column: 1;grid-row: 1;margin-top: 80px;margin-left: 100px;width: 100%
}

.img-2{
    width: 220px;height: 150px;background-image: url(./images\ \(6\).jpg);background-size: cover;grid-column: 1;grid-row: 1;margin-top: 5px;margin-left: 20px;transform: skew(10deg);border-radius: 10px;margin-top: 20px
}
.img-3{ width: 200px;height: 200px;border-radius: 20px;  grid-column: 3 ;grid-row: 1
    ;background: #ffd289;display: flex ;justify-content: center;align-items: center;text-transform: capitalize;box-shadow: 1px 1px 20px #ecc30b;background-image: url(./merub.jpg);background-size: cover;margin: 50px 0px 0px 500px;z-index: 1;transform: rotate(-10deg)

}


.img-5{
    width: 200px;height: 200px;background-image: url(./shoes.jpg);background-size: cover;border-radius: 50%; grid-column: 4;grid-row: 4; margin: -150px 0px 0px -180px; z-index: 1;
}
.img-6{width: 200px ;height: 200px;background-image: url(./watc.jpg);background-size: cover;margin: -136px 0px 0px 123px;
    z-index: 1;
    transform: rotate(10deg);
    border-radius: 100px;
    grid-column: 3;
    grid-row: 2;}