@media screen and (min-width:360px) and (max-width:740px){
   body {background: palegreen;margin: 0px;  background: rgb(135,255,3);
    background: -moz-linear-gradient(14deg, rgba(135,255,3,0.9416141456582633) 18%, rgba(15,130,205,0.9444152661064426) 48%, rgba(44,223,224,0.9528186274509804) 74%, rgba(44,162,224,0.9528186274509804) 75%);
    background: -webkit-linear-gradient(14deg, rgba(135,255,3,0.9416141456582633) 18%, rgba(15,130,205,0.9444152661064426) 48%, rgba(44,223,224,0.9528186274509804) 74%, rgba(44,162,224,0.9528186274509804) 75%);
    background: linear-gradient(14deg, rgba(135,255,3,0.9416141456582633) 18%, rgba(15,130,205,0.9444152661064426) 48%, rgba(44,223,224,0.9528186274509804) 74%, rgba(44,162,224,0.9528186274509804) 75%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#87ff03",endColorstr="#2ca2e0",GradientType=1);height: 100%
    
    }
    
    .navbar{width: 360px;height: 30px;}
    .nav1{
        width: 50px;height: 20px;font-size: 11px;
        position: absolute;left: -15px;top: 8px
        
        
    }
    .nav2{
        width: 30px;height: 20px;font-size: 11px;
        position: absolute;top: 8px;left: -55px
        
     
    }
    .nav3{
        width: 30px;height: 20px;font-size: 11px;
        position: absolute;top: 8px;left:33px
         
    }
    .nav4{
        width: 50px;height: 20px;font-size: 11px;
        position: absolute;right: 187px;top: 8px
    
    }
    .nav5{
        width: 50px;height: 20px;font-size: 11px;
        position: absolute;right: 115px;top: 8px
         
    }
    .nav6{
        width: 50px;height: 20px;font-size: 11px;
      
        ; position: absolute;right: 57px;top: 8px
    
    }
    #icons{width: 20px;height: 20px;
       position: absolute;
        font-size: 10px; right: 47px;top: 10px

    }
    .cart{width: 40px;height: 20px;
       position: absolute;
        font-size: 11px;right: 3px;

    }
    h1{font-size: 22px;
        position: relative;
        left: -92px;
        width: 120px;
        top: -45px;}
    .image1{  
          position: absolute;
        left: -285px;
        width: 170px;
        top: 122px;
        height: 255px;
    }
    .img-6 {
         position: absolute;
        left: 12px;
        width: 80px;
        height: 80px;
        top: 553px;}
    .img-5 { 
          position:absolute;
        left: 460px;
        width: 80px;
        height: 80px;
        top: 593px;}
    .img-3 {
        position:absolute;
        left: 4px;
        width: 80px;
        height: 80px;
        left: -224px;
        top: 155px;}
    .img-2 { 
        height: 100px;
        width: 165px;
        position:absolute;
        left: -90px;
        top: 30px;
    transform: skew(0deg)}
    h2 { 
        font-size: 22px;
        width: 110px;
        position:absolute;
        left: 10px;top: 230px;}
    .fashion {
        width: 80px;
        height: 80px;
        position:absolute;
        top: 19px;
        left: 75px;}

        .div2{
            width: 87%
        }
}